.catalog-container {
  padding: 20px 10px 10px 10px;
  min-width: 320px;
  background-color: #e5e5e5;
}

.catalog-flex-container {
  display: flex;
  flex-direction: column;
  max-width: 979px;
  margin-left: auto;
  margin-right: auto;
}

.search-bar-container {
  padding: 23px 12px 23px 12px;
  border-radius: 10px;
}

.products-container {
  padding-right: 0px;
  padding-left: 0px;
}

.row {
  padding-top: 20px;
  row-gap: 20px;
}

.product-column {
  padding-right: 10px;
  padding-left: 10px;
  
}

@media (min-width: 576px) {
  .catalog-container {
    padding: 30px 20px 20px 20px;
  }
  .search-bar-container {
    padding: 40px 20px 40px 20px;
  }
  .row {
    row-gap: 30px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1280px) {

}
