.home-container {
  padding: 20px 10px 10px 10px;
  min-width: 320px;
  background-color: #e5e5e5;
}

.home-flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 979px;
  margin-left: auto;
  margin-right: auto;
}

.home-main-card {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 50px;
  color: #ffff;
  text-align: center;
  box-shadow: 0px 4px 20px 0px #00000040;
}

.home-image-container img {
  width: 244px;
}

.home-content-container {
  width: 244px;
  align-self: center;
}

.home-content-container h1 {
  font-size: 22px;
  font-weight: 700;
}

.home-content-container h2 {
  font-size: 14px;
  font-weight: 400;
}

.home-catalog-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: #ededed;
  text-align: center;
}

.home-catalog-card button {
  height: 40px;
  width: 174px;
  left: 73px;
  top: 504px;
  border-radius: 5px;
  font-size: 14px;
}

.home-catalog-card h2 {
  color: #585858;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 578px) {
  .home-container {
    padding: 30px 20px 20px 20px;
  }

  .home-main-card {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .home-image-container img {
    width: 333px;
  }

  .home-content-container {
    width: 420px;
    align-self: center;
  }

  .home-content-container h1 {
    font-size: 36px;
  }

  .home-content-container h2 {
    font-size: 18px;
  }

  .home-catalog-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    padding-left: 85px;
  }
}

@media (min-width: 768px) {
  .home-main-card {
    padding-top: 80px;
    padding-bottom: 124px;
  }
}

@media (min-width: 992px) {
  .home-image-container img {
    width: 455px;
  }

  .home-content-container {
    width: 455px;
    align-self: center;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1280px) {
  .home-main-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .home-image-container img {
    width: 333px;
  }
}
